.navbar {
  position: relative;
  z-index: 200;
  color: black;

  &-navigation {
    display: flex;

    &-left {
      // width: 50vw;
      // height: 100vh;
      // background: url(../images/nav-img.jpg);
      // position: fixed;
      // left: -50vw;
      // transition: left .8s cubic-bezier(1, 0, 0, 1);

      // @media(max-width: 800px) {
      //     display: none;
      // }

      .left-img {
        width: 50%;
        position: absolute;
        box-shadow: 0 15px 60px rgba($color-black, 0.4);
        opacity: 0.7;
        border-radius: 10px;
      }

      .left-img-1 {
        top: 15%;
        left: 15%;

        @media (max-width: 1000px) {
          left: 5%;
        }
      }

      .left-img-2 {
        top: 35%;
        left: 25%;

        @media (max-width: 1000px) {
          left: 15%;
        }
      }

      .left-img-3 {
        top: 55%;
        left: 35%;

        @media (max-width: 1000px) {
          left: 25%;
        }
      }
    }

    &-right {
      padding: 0 25px;
      border-radius: 10% 0 0 0;
      width: 15vw;
      height: 100vh;
      font: 900;
      background: 
      linear-gradient(rgba($color-primary, .8), rgba($color-primary, .7), rgba($color-primary, .6));
      position: fixed;
      right: -50vw;
      @include flexLayout;
      transition: right 0.8s cubic-bezier(1, 0, 0, 1);

      @media (max-width: 900px) {
        width: 100vw;
        right: -150vw;
      }
    }

    .nav-list {
      &-item {
        list-style: none;
      }

      &-link {
        font-family: $font-dancingScript;
        font-size: 35px;
        @include textStyles(capitalize);
        color: $color-black;
        text-decoration: none;
        display: block;
        margin: 20px;
        text-align: center;
        transition: all 0.5s;

        &:hover {
          color: #cef0ba;
          letter-spacing: 4px;
        }

      

        @media (max-width: 600px) {
          font-size: 40px;
        }
      }
    }
  }
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-left {
  left: 0;
}

.checkbox:checked ~ .navbar-navigation .navbar-navigation-right {
  right: 0;
}

.checkbox:checked ~ .hamburger-menu .menu {
  transform: rotateZ(90deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-1 {
  transform: rotateZ(-40deg);
}

.checkbox:checked ~ .hamburger-menu .menu-line-2 {
  opacity: 0;
}

.checkbox:checked ~ .hamburger-menu .menu-line-3 {
  transform: rotateZ(40deg);
}

.header {
  width: 100%;
  height: 90vh;
  position: relative;

  background: linear-gradient(rgba($color-black, 0.8), rgba($color-black, 0.6)),
    url(../images/bg2.jpg);
  background-size: cover;
  background-position: top;

  .brand {
    display: flex;
    align-items: center;
    @include centering(15%);
  }

  &-banner {
    text-align: center;
    @include centering(50%);
  }
}

.about-us {
  margin: 100px 0;
  padding: 0 100px;

  text-align: center;
  font-size: 25px;
  font-weight: lighter;
  letter-spacing: 1px;


    h1 {
      font-size: 60px;
    }

    h3 {
      font-size: 30px;
      font-family: $font-josefinSans;
    }

    .paragraph {
      text-align: center;
      color: $color-secondary;
      font-family: $font-josefinSans;
      font-size: 22px;
      font-style: italic;
      color: $color-secondary;
      font-weight: lighter;

      &::first-letter {
        padding-left: 50px;
      }
    }

    .stars {
      margin: 10px 0;
    }

    .star {
      font-size: 15px;
      color: $color-primary;
      margin-left: 10px;
  }
}

.food-menu {
  .main-heading {
    display: grid;
    justify-items: center;
    font-size: 60px;
  }
}

.cards-gallery {
  margin: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.footer {
  padding: 70px 0;
  @include flexLayout;
  flex-direction: column;

  &-header {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
  }

  .social-media {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin-bottom: 70px;

    &-item {
      list-style: none;
    }
    &-link {
      text-decoration: none;
      font-size: 40px;
      color: rgba($color-secondary, 0.4);
      transition: color 0.7s;

      &:hover {
        color: $color-primary;
      }
    }
  }

  &-copyright-paragraph {
    font-family: $font-josefinSans;
    font-style: 18px;
    color: $color-secondary;
    @include textStyles(lowcaces);
  }
}
